* {
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes girando {
    0% {background: linear-gradient( -75deg, red , blue);  margin-left: 5;}
    10% {background: linear-gradient( -45deg, red , blue); margin-left: 10;}
    20% {background: linear-gradient( -15deg, red , blue); margin-left: 15;}
    30% {background: linear-gradient( 0deg, red , blue); margin-left: 20;}
    40% {background: linear-gradient( 15deg, red , blue); margin-left: 25;}
    50% {background: linear-gradient( 45deg, red , blue); margin-left: 30;}
    60% {background: linear-gradient( 75deg, red , blue); margin-left: 25;}
    70% {background: linear-gradient( 105deg, red , blue); margin-left: 20;}
    85% {background: linear-gradient( 135deg, red , blue); margin-left: 15;}
    90% {background: linear-gradient( 165deg, red , blue); margin-left: 10;}
    95% {background: linear-gradient( 195deg, red , blue); margin-left: 5;}
    100% {background: linear-gradient( 225deg, red , blue);}
}
.girar{
    width: 50px;
    height: 50px;
    margin-left: 0;
    background: linear-gradient(-105deg, red , blue);
    animation: girando 1s linear 0s infinite normal;
}
.quadrado {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 5px;
}
.sombra {
    box-shadow: 2px 2px 3px black;
    position: relative;
}
.transition {
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 0;
    transition: all 1s linear;
}
.transition:hover {
    background-color: blue;
    border-radius: 25px;
}
.pseudo {
    color: #FFF;
    font-weight: bold;
    background-color: royalblue;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
}
.pseudo::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: -3px;
    left: 8px;
    border: 10px solid;
    border-color: royalblue transparent transparent transparent;
}
.rgba {
    width: 50px;
    height: 50px;
    border: 2px;
    background-color: rgba(255, 0, 0, 0.7);
}
