@use './base';

@use './layout';

@use './mixin';
@include mixin.menu(#FFF, #CCC);
/* Exemplo de código BEM usando SASS
.menu {
    background-color: #000;
    &__title{
        background-color: #000;
        &--underline {
            background-color: #000;
        }
    }
}
*/
