
.botao {
    margin-top: 5px;
    background: linear-gradient(to bottom , rgb(54, 94, 255),  rgb(39, 67, 179));
    color: #FFF;
    padding: 15px;
    border: 1px solid #CCC;
    border-radius: 10px;
    text-align: center;
}