body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.container {
    width: 100%;
    max-width: 1040px;
    margin: auto;
}
.topo {
    height: 30px;
    background-color: #333;
    color: #FFF;
}
.topo-conteudo {
    height: 30px;
}
.topo-esquerda,
.topo-direita {
    width: 50%;
}
.topo-esquerda {
    float: left;
    height: 30px;
}
.topo-direita {
    float: right;
    height: 28px;
    margin-top: 2px;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;  
}
.nav-li {
    float: left;
}
.topo-esquerda li {
    height: 30px;
    line-height: 30px;
    margin: 0 8px;
}
.nav-link {
    text-decoration: none;
    color: white;
}
.ativo {
    color: blue;
}
.topo-busca {
    width: 110px;
    height: 21px;

    outline: none;
}
.topo-direita input,
.topo-direita a{
    float: right;
}
.topo-direita img {
    margin-right: 3px;
}
.subtopo {
    height: 95px;
}
.subtopo-conteudo{
    height: 95px;
}
.subtopo .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: red;
}
.logo {
    float: left;
    width: 230px;
    height: 90px;
    margin-top: 5px;
}
.menu {
    height: 40px;
    background-color: red;
}
.menu-conteudo {
    height: 40px;
}
.menu-conteudo li {
    height: 40px;
    line-height: 40px;
    padding: 0 8px
}
.menu li:hover .submenu{
    display: block;
}
.submenu {
    width: 150px;
    position: absolute;
    display: none;
    background-color: red;
}
.submenu-item {
    display: block;
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.submenu-item:hover {
    background-color: #FF5555;
}
.lastnews {
    height: 40px;
}
.lastnews-conteudo{
    height: 40px;
    
}
.news {
    height: 28px;
    background-color: white;
    border: 1px solid #CCC;
    margin-top: 10px;
}
.news-bar {
    height: 28px;
    display: inline-block;
    line-height: 28px;
}
.last-title {
    color: white;
    background-color: red;
    font-size: 16px;
    padding: 0 10px;
}
.last-desc {
    padding-left: 5px;
}
.container-conteudo {
}
.container-direita {
    width: 275px;
    float: right;
    margin-left: 12px;
}
.container-esquerda {
    width: 753px;
    float: left;

}
.widget {
    border: 1px solid #CCC;
    background-color: #FFF;
    margin-bottom: 10px;
}
.widget-titulo {
    height: 30px;
    line-height: 30px;
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
    padding-left: 5px;
    font-size: 14px;
}
.widget-conteudo {
    text-align: center;
    padding: 5px 0;
}
.news-item {
    font-size: 14px;
    margin: 0px 10px;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}
.widget-nop {
    padding: 0;
}
.slideshow {
    height: 335px;
    overflow: hidden;
    margin-bottom: 20px;
}
.slideshow-area {
    width: 10000px;
    height: 335px;
    transition: all 1s;
}
.slide {
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slideinfo {
    height: 70px;
    background-image: url('../images/slideshow_bg.png');
    background-size: auto 70px;
    margin-top: 265px;
}
.slideinfo-titulo,
.slideinfo-subtitulo {
    color: #FFF;
    padding-left: 20px;
}
.slideinfo-titulo {
    font-size: 20px;
    padding-top: 20px;

}
.slideinfo-subtitulo {
    font-size: 13px;
}
.slideballs {
    position: absolute;
    width: 200px;
    height: 20px;
}
.ball {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    background-color: #CCC;
    border-radius: 10px;
}
.news-area1,
.news-area2 {
    height: 420px;
    float: left;
}
.news-area1 {
    width: 430px;
}
.news-area2 {
    width: 320px;
}
.noticia-item{
    text-align: left;
    height: 88px;
    margin: 7px 0;
}
.noticia-img {
    width: 80px;
    height: 80px;
    border: 1px solid #CCC;
    padding: 3px;
    float: left;
}
.noticia-titulo{
    float: left;
    margin-left: 6px;
    font-size: 16px;
    width: 226px;
}
.noticia-info {
    float: left;
    font-size: 12px;
    margin-left: 6px;
    color: #999;
}
.noticia-big {
    margin-left: 10px;
}
.noticia-big .noticia-img,
.noticia-big .noticia-img img {
    width: 384px;
    height: 222px;
}
.noticia-big .noticia-titulo {
    width: 384px;
    font-size: 30px;
}
.menu-mobile {
    display: none;
}
@media (max-width: 1038px) {
    .container {
        max-width: 890px;
    }
    #menu-ul {
        display: block; 
    }
    .container-esquerda {
        width: 600px;
    }
    .news-area1 {
        width: 278px;
    }
    .noticia-big .noticia-img,
    .noticia-big .noticia-img img, 
    .noticia-big .noticia-titulo {
        width: 245px;
    }
    .noticia-big .noticia-titulo {
        font-size: 25px;
    }
}
@media (max-width: 886px) {
    .container {
        max-width: 768px;
    }
    .#menu-ul {
        display: block !important;
    }
    .banner {
        display: none;
    }
    .logo {
        float: none;
        margin: auto;
    }
    .container-direita {
        display: none;
    }
    .container-esquerda {
        float: none;
        width: auto;
    }
    .news-area1 {
        width: 446px;
    }
    .noticia-big .noticia-img,
    .noticia-big .noticia-img img, 
    .noticia-big .noticia-titulo {
        width: 415px;
    }
    .noticia-big .noticia-titulo {
        font-size: 25px;
    }
}
@media (max-width: 766px) {
    .container {
        max-width: 320px;
    }
    .topo-esquerda {
        display: none;
    }
    .topo-direita {
        width: 100%;
    }
    .banner {
        display: none;
    }
    .logo {
        float: none;
        margin: auto;
    }

    .menu ul {
        position: absolute;
        background-color: red;
        z-index: 10;
    }
    #menu-ul {
        display: none;
    }
    .menu li {
        float: none;
        height: auto;
    }
    .menu li img {
        display: none;
    }
    .submenu {
        position: static;
        display: block;
    }
    .menu-mobile {
        display: block;
    }
    .lastnews {
        display: none;
    }
    .container-direita {
        display: none;
    }
    .container-esquerda {
        float: none;
        width: auto;
        margin-top: 10px;
    }
    .news-area1 {
        width: 320px;
        height: auto;
    }
    .news-area2 {
        width: 300px;
        margin: auto;
        float: none;
        clear: both;
        padding-top: 20px;
    }
    
    .noticia-big .noticia-img,
    .noticia-big .noticia-img img, 
    .noticia-big .noticia-titulo {
        width: 290px;
    }
    .noticia-item {
        clear: both;
    }
    .noticia-big .noticia-titulo {
        font-size: 25px;
    }
    .noticia-titulo, .noticia-info {
        width: 206px;
    }
}